img {
    margin: 10px;
}

.contactPic {
    transition: 0.2s;
    box-shadow: 0 0 30px rgba(0,0,0, 0.4);
}

.contactPic:hover {
    box-shadow: 0 0 40px rgba(0,0,0, 0.8);
}

.bull {
    margin: 0 5px;
}

.contactLink {
    text-decoration: none;
    color: #ddd;
}

.contactLink:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 767px) {
    img {
        display: none;
    }
}
